@charset "UTF-8";
/* CSS Document */


body{
	
background-image: url(https://www.transparenttextures.com/patterns/swirl.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

}

.top{ 
margin-top:150px;

}

/*Css for about page*/
.circle img {
	margin-top: -50px;
	height: 150%;
	width: 150%;
	margin-left: -50px;

}

.about {
	float:right;
	
	

}

.top img {
	margin-top: 100px;
	height: 400px;
	width: auto;
	
}


/*Css for nav starts here*/
.nav {background-color:#F9F9F9;
	height:120px;
	padding-top: 1px;
	padding-bottom: 1px;
	position: fixed;
	width:960px;
	margin-top:-10px;
	z-index:50;
}
nav li {

	display:inline-block;
	float:left;
	width: auto;
	font-family: 'Poppins', sans-serif;
	font-weight:400;
	padding-left: 10px;
	padding-right: 10px;
	padding-top:25px;
	
	
	
	
} 


li a {text-decoration:none;
color:black; 
font-size:20px;
	

}
.nav img {
	display: inline-block;
	height: 85px;
	width:auto;

	padding-bottom:30px; 
	padding-right: 10px;
	float: left;
  
}

/*css for nav ends here*/

.middle img{ 
	
	height: auto;
	width:100%;
	margin-top:140px; 
}





p {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
}



h1 {font-family: 'Poppins', sans-serif;
	font-weight:600;
	text-align:left;
	padding:20px;
	font-size:34px;
}
	


a:hover { 
	/*text-shadow: .5px .5px 4px #000000;*/
	font-weight:600;
	font-size: 20px;
}



.activepage {
font-weight:600;
	font-size: 20px;	
}
	

.floatclear {
	clear: both;
}

.sidebar {
	position: fixed;
	background-color:#F9F9F9;
	margin-top: 450px;
	right:20px;
	width:300px;
	padding-left:20px;
	line-height: 22px;
	margin-bottom:150px;
	border: 1px;
	border-style:solid;
	border-color:black;
}

.hover:hover{
	color:#DC6163;
	
}

/*Css for footer begins here*/
footer {
	background-color:#F9F9F9;
	height: 70px;
}

#footmargin {
	margin-bottom:200px;
	
}

footer h3 {
	padding: 25px;
	text-align: center;
	
}

footer li {
	display:inline-block;
	float:left;
	width: auto;
	font-family: 'Poppins', sans-serif;
	font-weight:400;
	padding-left: 10px;
	padding-right: 10px;
	padding-top:25px;
}

.copyright {
	padding-left: 145px;
	font-size: 20px;
	font-weight:600;
}
/*css for footer ends here*/

/*margin top keeps image away from nav bar*/
.header img{
	margin-top:110px;
	margin-bottom:40px;
	
}

.captop {
	margin-top:-65px;
}


	

/*span tag to make post title bigger*/
.large {
	font-family: 'Poppins', sans-serif;
	font-weight:600;
	font-size:25px;
}
.larger {
	font-family: 'Poppins', sans-serif;
	font-weight:600;
	font-size:35px;
	margin-left:10px;
	
}

a {
	text-decoration:none;
	color:white;
	
}

.bottom {
	margin: 25px;
}
/*Hovering CSS effect taken from http://css-workshop.com/hover-box-text-over-images-on-hover-and-more/*/
.sun {
	position: relative;
	display: inline;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	
}

.sun img {
	max-width: 100%;
}

.sun .sun_layer_bottom{
	display: inline;
}

.sun .sun_layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 7px;
	right: 0;
	bottom: 0;
	width: 90%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.sun:hover .sun_layer_top,
.sun.active .sun_layer_top {
	opacity: 1;
}
.sun .sun_text {
	text-align: center;
	text-decoration:none;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color:white;
}


.avo {
	position: relative;
	display: inline;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	float:left;
	
}

.avo img {
	max-width: 100%;
}

.avo .avo_layer_bottom{
	display: inline;
}

.avo .avo_layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 7px;
	right: 0;
	bottom: 0;
	width: 90%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.avo:hover .avo_layer_top,
.avo.active .avo_layer_top {
	opacity: 1;
}
.avo .avo_text {
	text-align: center;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}


.greece {
	position: relative;
	display: inline;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	float:left;
	
}

.greece img {
	max-width: 100%;
}

.greece .greece_layer_bottom{
	display: inline;
}

.greece .greece_layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 7px;
	right: 0;
	bottom: 0;
	width: 90%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.greece:hover .greece_layer_top,
.greece.active .greece_layer_top {
	opacity: 1;
}
.greece .greece_text {
	text-align: center;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/*End of Hovering effect Css*/

